/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BANNER */
#headerbox, #headerbox2, #headerbox3 {
  text-align: center;
  font-family: 'Courier New';
  font-style: italic;
  color: white;
  padding: 10px 20px;
}

#headerbox {
  background-color: #6dbcf2;
}

#headerbox2 {
  background-color: #8cc63f;
}

#headerbox3 {
  background-color: #f7931e;
}

/* LOGO */
.logo {
  text-align: center;
  max-width: 100%;
}

.logo img {
  max-width: 100%;
  height: auto;
}

/* HEADER */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

/* LIST NAVIGATION */
.menu {
  list-style-type: none;
  font-family: 'Courier New';
  font-size: 22px;
}

.menu li {
  margin-right: 20px;
  display: inline;
}

.menu li a {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.menu li a:hover {
  color: purple;
}

@media (max-width: 600px) {
  .menu {
    text-align: center;
  }

  .menu li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* SEARCH BAR, CART, AND LOGIN BUTTONS */
.buttons {
  display: flex;
  align-items: center;
}

.buttons .container {
  display: flex;
  align-items: center;
  width: 100%;
}

.cart, .login {
  padding: 10px;
  background-color: #f7931e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Courier New';
  font-size: 17px;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
  }

  .cart, .login {
    margin: 5px 0;
  }
}

/* ABOUT US SECTION */
.about-us {
  display: flex;
  align-items: center;
  padding: 20px;
}

.subtitle, .jackrussell {
  flex: 1;
  padding-right: 50px;
}

.subtitle img, .jackrussell img {
  margin-bottom: 10px;
  display: block;
}

.subtitle p {
  line-height: 1.5;
  text-align: justify;
  font-family: 'Courier New';
  font-size: 17px;
}

@media (max-width: 600px) {
  .about-us {
    flex-direction: column;
    text-align: center;
  }

  .subtitle, .jackrussell {
    padding-right: 0;
  }
}

/* PRODUCTS */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 22px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: 'Courier New';
}

.price, .title {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #6DBCF2;
  font-family: 'Courier New';
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 90%;
    margin: 10px 0;
  }
}

/* SECONDARY TEXT SECTION */
.our-story {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2B3B41;
}

.secondarytext {
  width: 45%;
}

.secondarytext img {
  display: block;
  margin-bottom: 10px;
}

.secondarytext p {
  line-height: 1.5;
  text-align: justify;
  font-family: 'Courier New';
  font-size: 17px;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .our-story {
    flex-direction: column;
    text-align: center;
  }

  .secondarytext {
    width: 90%;
    margin-bottom: 20px;
  }
}

/* FOOTER */
.bottomtext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2B3B41;
  font-family: 'Courier New';
  font-size: 17px;
  color: white;
}

.bottomtext-logo img {
  margin-right: 20px;
}

.bottommenu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bottommenu-list li {
  display: inline;
  margin-left: 20px;
}

.bottommenu-list li:first-child {
  margin-left: 0;
}

.bottommenu-list li a {
  text-decoration: underline;
  color: white;
}

.bottommenu-list li a:hover {
  color: purple;
}

@media (max-width: 600px) {
  .bottomtext {
    flex-direction: column;
    text-align: center;
  }

  .bottomtext-logo {
    margin-bottom: 20px;
  }

  .bottommenu-list {
    padding: 0;
  }

  .bottommenu-list li {
    display: block;
    margin: 10px 0;
  }
}

/* FORM */
.container2 {
  padding: 20px;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #6DBCF2;
  color: black;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.subscribetitle {
  font-family: 'Courier New';
  font-size: 17px;
  color: black;
}

/* BREADCRUMB */
ul.breadcrumb {
  padding: 10px 16px;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  font-family: 'Courier New';
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* CART */
.cart-popup {
  display: none;
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 400px;
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
}

.cart-popup button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #6dbcf2;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  margin-top: 20px;
}

.cart-popup button:hover {
  background-color: #f7931e;
}

.item-price, .item-quantity {
  color: grey;
  font-size: 22px;
}

.item-name {
  color: black;
  font-size: 22px;
}

/* CHECKOUT */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.checkout-form2, .checkout-form, .main-form {
  padding: 0 16px;
}

.checkout-form2 {
  flex: 25%;
}

.checkout-form {
  flex: 50%;
}

.main-form {
  flex: 75%;
}

.checkout-container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  font-family: 'Courier New', Courier, monospace;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
  font-family: 'Courier New', Courier, monospace;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #8cc63f;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .checkout-form2, .checkout-form, .main-form {
    width: 100%;
    padding: 0;
  }
}